@import 'reset';
@import 'fonts';
@import 'records-page';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $white;
}

.container {
  width: 100%;
  max-width: 1470px;
  padding-inline: 15px;
  margin-inline: auto;
}
